.poppercard {
    background-color: rgba(199, 199, 199, 0.786);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Adjust width as needed */
    position: relative;
    transition: transform 0.3s;
  }
  
  .poppercard:hover {
    transform: translateY(-5px); /* Lift effect on hover */
  }
  
  .p-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .p-date-con {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 0.9rem;
    color: #000000;
  }
  
  .p-level {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .p-desc {
    margin: 10px 0;
    font-size: 0.95rem;
    color: #000000;
  }
  
  .highlights {
    margin: 10px 0;
  }
  
  .point-con {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .point-con p {
    margin-left: 5px;
  }
  
  .p-btn-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .heart-cir {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #000000;
    transition: color 0.3s;
  }
  
  .heart-cir:hover {
    color: #e30000; /* Color on hover */
    border: #000000 solid 1px;
  }
  
  /* Alert styles */
  .alert {
    margin-top: 10px;
  }
  .addTo{
    background-color: blue;
  }