.wishlistDiv {
  padding: 20px;
}

.tabs_header {
  margin-bottom: 20px;
}

.tablinks {
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.tablinks.active {
  background-color: #a435f0;
  color: white;
}

.removewish{
  position: relative;
  left: 80%;
  bottom: 86%;
  padding: 4px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
}
.removewish:hover{
  scale: 1.1;
}
