.adminContainer {
  display: flex;
  margin-top: 0rem;
}

.drawer {
  width: 250px;
  flex-shrink: 0;
}

.drawerList {
  width: 250px;
}

.iconColor {
  color: #0000e2; /* Red theme color */
}

.mainContent {
  flex-grow: 1;
  background-color: #ffffff;
  min-height: 100vh;
}

.appBar {
  z-index: 1201;
  background-color: #1410df; /* Red theme color */
}

.title {
  flex-grow: 1;
}



.logoutIcon {
  margin-right: 8px;
  color: #f61414; /* Red theme color */
}

