/* user.module.css */

.container {
  padding: 20px;

}

.title {
  margin-bottom: 20px;
  /* Space between title and DataGrid */
}

.dataGridContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 94%;
  background-color: white;
  /* White background for DataGrid */
  overflow: hidden;
  /* Hide overflow */
}